* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.dark-mode-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.dark-mode-icon {
    color: #ffffff;
    font-size: 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header button {
    background-color: #ffffff;
    color: #080710;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.content {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 80vh;
    overflow-y: scroll;
}

.content button {
    background-color: #ffffff;
    color: #080710;
    border: 2px #080710 solid;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
    width: 20vw;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.content button:hover {
    background-color: yellow;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #080710;
    color: #ffffff;
}

.header.dark-mode {
    background-color: rgba(0, 0, 0, 0.13);
    border: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.6);
}

.header.dark-mode button {
    background-color: #26252c;
    color: #ffffff;
}

.content.dark-mode button {
    background-color: #26252c !important;
    color: #ffffff;
}

/* Let dark mode hover effect be different from light mode */
.content.dark-mode button:hover {
    background-color: #1a1920 !important;
}
